 
 .boxContact{
display: flex;
justify-content: center;
 }

 .boxContact h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

 
 label {
  color: #03e9f4;
  font-size: 12px;
  margin-left: 30px;
}

.boxContact form{
  padding: 20px;
}

.formContact{
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.formContact input{
  font-size: 16px;
  color: #fff;
  
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.formContact  button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding:  10px 20px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.formContact  button:before,
.formContact  button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.formContact  button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #03e9f4;
  border-top: 1px solid #03e9f4;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.formContact  button:after {
  top: 0;
  right: 0;
  border-right: 1px solid #03e9f4;
  border-bottom: 1px solid #03e9f4;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.formContact  button:hover:before,
.formContact  button:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.formContact  button:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.formContact button:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
