.appear {
  transform: translateX(-100%);
}
.appearActive {
  transform: translateX(0);
  transition: all 1500ms linear;
}

.formContainer{
margin-left: 50px;
}

.formContainer h2{
color: rgb(41, 6, 168);
margin: 10px 0px;
}

.boxAlert{
width: 300px;
}
