
.userMenu_Button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding:  10px 20px;
margin-left: 10px;
  position: relative;
  color: white;
  font-size:10px ;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.userMenu_Button:before,
.userMenu_Button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;

}

.userMenu_img{
border-radius: 50%;
margin-right: 10px;
}
.userMenu_Button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #03e9f4;
  border-top: 1px solid #03e9f4;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.userMenu_Button:after {
  top: 0;
  right: 0;
  border-right: 1px solid #03e9f4;
  border-bottom: 1px solid #03e9f4;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.userMenu_Button:hover:before,
.userMenu_Button:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.userMenu_Button:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.list button:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}